{% extends 'base.html' %}

{% load static %}

{% block content %}

         
         <!-- Start Banner -->
         <div class="ulockd-home-slider">
            <div class="container-fluid">
               <div class="row">
                  <div class="pogoSlider" id="js-main-slider">
                     <div class="pogoSlider-slide" style="background-image:url({% static 'website/images/Identify1.png' %});">
                        <div class="container">
                           <div class="row">
                              <div class="col-md-12">
                                 <div class="slide_text">
                                    <h6>How to </h6>
                                    <h4>Identifying</h4>
                                    <h6>Fake/Phishing Websites</h6>
                                    <br>
                                    <a class="readmore_bt" href="about.html">Read More</a>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="pogoSlider-slide" style="background-image:url({% static 'website/images/slider_1.jpg' %});">
                        <div class="container">
                           <div class="row">
                              <div class="col-md-12">
                                 <div class="slide_text">
                                    <h4>Tools of</h4>
                                    <h6>Vunerable Checker</h6>
                                    <br>
                                    <a class="readmore_bt" href="about.html">Read More</a>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="pogoSlider-slide" style="background-image:url({% static 'website/images/Risk1.png' %});">
                        <div class="container">
                           <div class="row">
                              <div class="col-md-12">
                                 <div class="slide_text">
                                    <h3>Why?</h3>
                                    <h6>Awareness on</h6>
                                    <h6>Social Engineering Important</h6>
                                    <br>
                                    <a class="readmore_bt" href="about.html">Read More</a>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <!-- .pogoSlider -->
               </div>
            </div>
         </div>
         <!-- End Banner -->
         <!-- section -->
         <div class="section about_section layout_padding dash_bg">
            <div class="container">
               <div class="row">
                  <div class="col-md-12">
                     <div class="full">
                        <div class="heading_main text_align_center">
                           <h2>What We Do</h2>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3">
                     <div class="full feature_box">
                         <div class="full icon">
                            <img class="default-block" src="{% static 'website/images/icon_1.png' %}" alt="#" />
                            <img class="default-none" src="{% static 'website/images/icon_1w.png' %}" alt="#" />
                         </div>
                         <div class="full">
                            <h4>Acknowledge</h4>
                         </div>
                         <div class="full">
                           <p>Learn and know some basic information about social engineering..</p>
                         </div>
                     </div>
                  </div>
                  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3">
                     <div class="full feature_box">
                         <div class="full icon">
                            <img class="default-block" src="{% static 'website/images/icon_2.png' %}" alt="#" />
                            <img class="default-none" src="{% static 'website/images/icon_2w.png' %}" alt="#" />
                         </div>
                         <div class="full">
                            <h4>Searching IP</h4>
                         </div>
                         <div class="full">
                           <p>An Internet Protocol address (IP address) is a numerical label assigned to each device connected to a computer network that uses the Internet Protocol for communication...</p>
                         </div>
                     </div>
                  </div>
                  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3">
                     <div class="full feature_box">
                         <div class="full icon">
                            <img class="default-block" src="{% static 'website/images/icon_3.png' %}" alt="#" />
                            <img class="default-none" src="{% static 'website/images/icon_3w.png' %}" alt="#" />
                         </div>
                         <div class="full">
                            <h4>Scanning Server</h4>
                         </div>
                         <div class="full">
                           <p>Server is a piece of computer hardware or software (computer program) that provides functionality for other programs or devices, called "clients"...</p>
                         </div>
                     </div>
                  </div>
                  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3">
                     <div class="full feature_box">
                         <div class="full icon">
                            <img class="default-block" src="{% static 'website/images/icon_4.png' %}" alt="#" />
                            <img class="default-none" src="{% static 'website/images/icon_4w.png' %}" alt="#" />
                         </div>
                         <div class="full">
                            <h4>Guildline</h4>
                         </div>
                         <div class="full">
                           <p>Teaching and guild that help users to identify fake website..</p>
                         </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- end section -->
         <!-- section -->
         <div class="section about_section layout_padding padding_top_0">
            <div class="container">
               <div class="row">
                  <div class="col-md-12">
                     <div class="full">
                        <div class="heading_main text_align_center">
                           <h2 class="margin-bottom_30"><strong class="small theme_color">Increase your awareness to</strong><br>Social Engineering</h2>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                     <div class="full">
                        <div class="heading_small">
                          <h4>Social Engineering</h4>
                        </div>
                        <p>Social engineering is a cyber security threat that takes advantage of the weakest link in our security chain — our human workforce — to gain access to corporate networks. Attackers use increasingly sophisticated trickery and emotional manipulation to cause employees, even senior staff, to surrender sensitive information. Learn about the stages of a social engineering attack, what are the top social engineering threats according to the InfoSec Institute, and best practices to defend against them.</p>

                        <p>1. Phishing</p>
                        <p>In a phishing attack, an attacker uses a message sent by email, social media, instant messaging clients or SMS to obtain sensitive information from a victim or trick them into clicking a link to a malicious website.Phishing messages get a victim’s attention and call to action by arousing curiosity, asking for help, or pulling other emotional triggers. They often use logos, images or text styles to spoof an organization’s identity, making it seem that the message originates from a work colleague, the victim’s bank, or other official channel. Most phishing messages use a sense of urgency, causing the victim to believe there will be negative consequences if they don’t surrender sensitive information quickly.
                        </p>
                      </div>
                      <div class="full margin-top_30">
                        <a class="readmore_bt" href="about.html">Read More</a>
                      </div>
                  </div>
                  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                     <div class="full text_align_center">
                        <img class="img-responsive" src="{% static 'website/images/f1.png' %}" alt="#" />   
                      </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- end section -->
         <!-- section -->
         <div class="section about_section layout_padding padding_top_0">
            <div class="container">
               <div class="row">
                  <div class="col-md-12">
                     <div class="full">
                        <div class="heading_main text_align_center margin-bottom_30">
                           <h2><strong class="small theme_color">Tips for identifying</strong><br>Fake website</h2>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-10 offset-lg-1">
                     <div class="full text_align_center">
                         <p>1. Pay Close Attention to the URL</p>
                            <p>You would be absolutely shocked how many people pay little to no attention to the address bar of their browser.
                            The address bar contains a ton of vital information about where you are and how secure you are there. Therefore, get into the habit of occasionally glancing up there whenever you visit a new page.</p>

                            <p>2. Beware the use of IP Proxies</p>
                            <P>Fraudsters often try to mask their IP Address, so you cannot see that they are placing the order from a different state or country. Utilize technology that can tell you whether the IP address is legitimate.</p>

                            <p>3. Check Connection Security Indicators</p>
                            <p>Back to the address bar. If the last point didn’t underscore the importance of this browser feature—this one should drive the point home. Within the address bar are several connection indicators that let you know whether your connection with this website is private. As we mentioned earlier, it’s possible to eavesdrop on connections on the internet.</p>

                            <p>4. View Certificate Details</p>
                            <p>This one is a bit more advanced because it involves diving a bit deeper into your browser’s menu and that can be misleading if you don’t have a proper understanding of SSL.
                        </p>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-md-12">
                     <div class="full text_align_center">
                       <iframe width="560" height="315" src="https://www.youtube.com/embed/zflsg6TRuos" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                     </div>
                     <div class="full center">
                        <a class="readmore_bt" href="about.html">Read More</a>
                      </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- end section -->
         <!-- section -->
         <div class="section dark_blue_layout white_fonts layout_padding">
            <div class="container">
               <div class="row">
                  <div class="col-md-12 col-lg-4">
                     <div class="full">
                        <div class="heading_main text_align_left" style="margin-bottom: 0;">
                           <h2><strong class="small">Scan your</strong><br>Website</h2>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-12 col-lg-8">
                     <div class="full">
                         <div class="form_section">
                            <form class="news_submit_form">
                              <fieldset>
                                 <div class="field">
                                    <input type="url" placeholder="Enter url" name="website_url" required />
                                    <button>Submit</button>
                                 </div>
                              </fieldset>
                            </form>
                         </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- end section -->
         <!-- section -->
         <div class="section about_section layout_padding">
            <div class="container">
               <div class="row">
                  <div class="col-md-12">
                     <div class="full">
                        <div class="heading_main text_align_center margin-bottom_30">
                           <h2><strong class="small theme_color">We’ve done lot’s of work, Let’s</strong><br>Check some from here</h2>
                        </div>
                     </div>
                  </div>
               </div>
              <div class="row">

                <div class="col-sm-6 col-md-3 col-lg-3">
                   <div class="work_blog margin-top_30">
                      <img class="img-responsive" src="{% static 'website/images/blog1.jpg' %}" alt="#" />
                      <div class="hover_workblog">
                          <img src="{% static 'website/images/search_icon.png' %}" alt="#" />
                      </div>
                   </div>
                </div>

                <div class="col-sm-6 col-md-3 col-lg-3">
                   <div class="work_blog margin-top_30">
                      <img class="img-responsive" src="{% static 'website/images/blog2.jpg' %}" alt="#" />
                      <div class="hover_workblog">
                          <img src="{% static 'website/images/search_icon.png' %}" alt="#" />
                      </div>
                   </div>
                </div>

                <div class="col-sm-6 col-md-3 col-lg-3">
                   <div class="work_blog margin-top_30">
                      <img class="img-responsive" src="{% static 'website/images/blog3.jpg' %}" alt="#" />
                      <div class="hover_workblog">
                          <img src="{% static 'website/images/search_icon.png' %}" alt="#" />
                      </div>
                   </div>
                </div>

                <div class="col-sm-6 col-md-3 col-lg-3">
                   <div class="work_blog margin-top_30">
                      <img class="img-responsive" src="{% static 'website/images/blog4.jpg' %}" alt="#" />
                      <div class="hover_workblog">
                          <img src="{% static 'website/images/search_icon.png' %}" alt="#" />
                      </div>
                   </div>
                </div>

              </div>
            </div>
         </div>
         <!-- end section -->
         <!-- section -->
         <div class="section about_section layout_padding padding_top_0">
            <div class="row">
                  <div class="col-md-12">
                     <div class="full">
                        <div class="heading_main text_align_center margin-bottom_30">
                           <h2>Sign up</h2>
                        </div>
                     </div>
                  </div>
               </div>
         </div>
         <!-- section -->
         <div class="section contact_section">
            <div class="container-fluid">
               <div class="row">
                  <div class="col-md-6 theme_color_bg fc3726 padding_0">
                     <div class="full">
                        <div class="row">
                           <div class="col-sm-12 col-md-10 offset-lg-1">
                              <div class="full contact_form">
                                 <form class="contact_form_inner" action="#">
                                    <fieldset>
                                       <div class="field">
                                          <input type="text" name="name" placeholder="Your name" />
                                       </div>
                                       <div class="field">
                                          <input type="email" name="email" placeholder="Email" />
                                       </div>
                                       <div class="field">
                                          <input type="text" name="phone_no" placeholder="Phone number" />
                                       </div>
                                       <div class="field">
                                          <textarea placeholder="Message"></textarea>
                                       </div>
                                       <div class="field center">
                                          <button class="margin-top_30">SEND</button>
                                       </div>
                                    </fieldset>
                                 </form>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-6 padding_0">
                     <div class="full">
                        <div class="row">
                           <div class="col-sm-12">
                              <div class="full map_section">
                                 <div id="map">
                                    <div id="googleMap" style="width:100%;height:440px;"></div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- end section -->
        
{% endblock %}
